/*Start filter bar*/
.filter-bar-vehicule{
    /*margin-right: 32px; */
}
/*End filter bar*/


/*Start card cars*/
.card-cars{
    box-shadow : 0px 0px 12px 2px #0000003b;    
}
.card-cars:hover{   
    border: 3px solid #93C90E;
}

.bg-cars{
    background : #D9DFE5;
}

.cars-title{
    font-family: "ubuntu-light";
    font-size:1.2rem;
}
/*End card cars*/